body{
    background: #F4F4F4;
}
/* header part */
input{
    background: #F1F1F1;
    border-style: none;
    color: #CCCCCC;
    padding: 10px;
}
ul>li{
    padding-left: 40px;
}
.margin{
    margin-top: 100px;
}

/* carousel part */
.carousel-background{
    background-color:  #FEEAE9;
}
.carousel-img{
    height: 370px;
}
button{
    color:#FFFFFF;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
    margin-top: 10px;
}
.buy{
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    
}
.fa-arrow-right{
    padding-left: 5px;
}

/* categories start */
.categories-bg-1{
   background: linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);
}
.categories-bg-2{
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
}
.categories-bg-3{
    background: linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);
}
.categories-img{
    width: 90px;
    height: 90px;
}
.categories-img:hover{
    transform: scale(1.2);
    transition: .5s ease-in-out .5s;
}

/* shoes and backpack*/
.buys{
    background: #000000;
}
.card-border{
    background: #FFFFFF;
}

/* contact us */
.contact-background-all{
    background-color: #FFFFFF;    
}
.contact-background{
    background: #FEEAE9;
    position: relative;
    top:50px;
}

/* footer */
.margin-footer{
    margin:30px auto; 
}


